body {
  width: 100%;
  padding-top: 100px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.image-item {
  display: inline-block;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);
  vertical-align: top;

}

.progress {
    margin: -40px;
    margin-right: 50px;
    width: 300px;
}

.image-item:hover {
  border: 2px solid #fff;
  background: #8CF;
  cursor: pointer;
}

.selected-image-item {
  border: 2px solid #099;
  background: #8CF;
  cursor: pointer;
}

.selected-image-item:hover {
  border: 2px solid #fff;
  background: #8CF;
  cursor: pointer;
}

.nav.navbar-nav li a.search {
    color: #0f0;
}

.nav.navbar-nav li a.archive {
    color: #00f;
}
.vertical-pad {
  height: 25px;
 }

 .nav-panel {
  background: #333;
  color: #999;
 }
 
#app-name {
    margin-top:10px;
    margin-left: 15px;
    color: #aaa;
    float: left;
    font-size: 24px;
    vertical-align: middle;
}

#data-info {
    margin-top:10px;
    margin-left: -15px;
    margin-right: 25px;
    color: #996633;
    float: left;
    font-size: 24px;
    vertical-align: middle;
}


#tabs {

}

.nav-pill {
    margin-top:10px;
    margin-right: 20px;
}

#stats {
    font-size: 24px;
}

#image-tabs-status {
    top:auto;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    margin-top: -40px;
    margin-bottom: 5px;
    background-color: #111;
    width: 100%;
    position: fixed;
}

#info-text {
    margin-top: 5px;
    color: #aaff88;
    float: left;
    font-size: 20px;
}
#status-text {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 40px;
    float:left;
    color: #66CCFF;
    font-size: 20px;
}

#ScaleBar {
    background-color: #ccF;
    color: #000;
    text-align: center;
    width: 100%;
    height: 20px;
}

#image-window {
    width: 50%;
    height: 100%;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  height: 100%;
  border-radius: 0;
}

.modal-body {
  height: 80%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#ImageContainer {
    margin-top: 5px;
    clear: both;
    float:left;

}

#MosaicContainer {
    background: #000;
    width: 100%;
    clear: both;
    padding-top: 10px;
    

}

img #TargetImage {
    image-rendering: auto;
}

#ImageInfo {
    width: 30%;
    margin-left: 20px;
    float: left;
}

.info-label {
    color: #0af;
}

.data-chart {
    display: inline-block;
}

#data-info {
    font-size: 15px;
}

