<config>
	<App>
		<SaveRawImages>false</SaveRawImages>
		<MaxFrames>300000000</MaxFrames>
		<ROIsPerDir>2000</ROIsPerDir>
		<TarSubDirs>true</TarSubDirs>
		<SerialMaster>false</SerialMaster>
		<LogInterval>4</LogInterval>
		<CleaningInterval>120</CleaningInterval>
		<CleaningTime>60</CleaningTime>
		<CameraName>SPCP</CameraName>
		<CameraStartDelay>5</CameraStartDelay>
		<CameraMaxRunTime>1000</CameraMaxRunTime>
		<QuietMode>false</QuietMode>
		<VerboseLog>false</VerboseLog>
		<MergeSerialStrings>true</MergeSerialStrings>
		<MaxFilesystemPercentFull>95</MaxFilesystemPercentFull>
		<SimulatorMode>False</SimulatorMode>
		<SimulatorImages>3</SimulatorImages>
		<SimulatorImageROIs>5</SimulatorImageROIs>
		<ShutdownCommand>/home/odroid/odroid_halt 5</ShutdownCommand>
	</App>
	<Command>
		<StartCommand>start</StartCommand>
		<StopCommand>stop</StopCommand>
		<AbortCommand>abort</AbortCommand>
		<HaltCommand>halt</HaltCommand>
		<GetTimeCommand>time?</GetTimeCommand>
		<SetTimeCommand>settime</SetTimeCommand>
	</Command>
	<Processing>
		<Method>Canny</Method>
		<MaxQueueSize>40</MaxQueueSize>
		<DownsampleFactor>4</DownsampleFactor>
		<ROIPad>2</ROIPad>
		<Threshold>25</Threshold>
		<Sel7Size>5</Sel7Size>
		<Sel3Size>3</Sel3Size>
		<LaplaceSize>1</LaplaceSize>
		<CannyLow>150</CannyLow>
		<CannyHigh>225</CannyHigh>
		<CannyKernelSize>3</CannyKernelSize>
		<MinArea>300</MinArea>
		<MaxArea>5000000</MaxArea>
		<MaxROISPerImage>50</MaxROISPerImage>
	</Processing>
	<Camera>
		<FrameRate>6.0</FrameRate>
		<ExposureTime>0.062</ExposureTime>
		<Gain>0.0</Gain>
		<Strobe0Enable>true</Strobe0Enable>
		<Strobe0Delay>0.04</Strobe0Delay>
		<Strobe0Polarity>0</Strobe0Polarity>
		<Strobe1Enable>true</Strobe1Enable>
		<Strobe1Delay>0.04</Strobe1Delay>
		<Strobe1Polarity>1</Strobe1Polarity>
		<Strobe2Enable>true</Strobe2Enable>
		<Strobe2Delay>0.04</Strobe2Delay>
		<Strobe2Polarity>1</Strobe2Polarity>
		<StrobeDoubleFlashDelay>4500</StrobeDoubleFlashDelay>
		<StrobeDuration>25</StrobeDuration>
		<OffsetX>0</OffsetX>
		<OffsetY>0</OffsetY>
		<ImageWidth>4240</ImageWidth>
		<ImageHeight>2824</ImageHeight>
		<MemoryChannel>1</MemoryChannel>
		<RestoreSettings>false</RestoreSettings>
	</Camera>
	<Storage>
		<DataPath>/home/odroid/data</DataPath>
		<OverflowDataPath>/media/SDDATA/OVERFLOW</OverflowDataPath>
		<BackupDataPath>/media/SDDATA/BACKUP</BackupDataPath>
		<BackupData>false</BackupData>
		<BackupPeriod>1</BackupPeriod>
		<UseFixedDirName>false</UseFixedDirName>
		<FixedDirName>DATA</FixedDirName>
	</Storage>
</config>
